.primary-color {
    color: #5BB12F;
}
.primary-bg-color {
    background-color: #5BB12F;
}
.secondary-color {
    color: #222;
}
.secondary-bg-color {
    background-color: #222;
}
.active {
    color: #fff !important;
}
/* Banner css */
.banner__heading {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.fancy-btn {
    /* height: 40px; */
    display: inline-block;
    /* width: 200px; */
    position: relative;
    background-color: transparent;
    border: 2px solid #cecece;
    color: #fff;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align: center;
    /* line-height: 36px; */
    -webkit-transition: all .2s;
    transition: all .2s;
    outline: none;
}
.fancy-btn:hover::before {
    content: "";
    position: absolute;
    left: -4px;
    top: -4px;
    background: linear-gradient(65deg,#5BB12F,transparent,#5BB12F);
    background-size: 100%;
    width: calc(100% + 8px);
    height: calc(100% + 8px);
    z-index: 1;
    background-size: 200%;
    -webkit-animation: rotateGradient 5s linear infinite;
    animation: rotateGradient 5s linear infinite;
}
.fancy-btn:hover::before{
    content: "";
    position: absolute;
    left: -4px;
    top: -4px;
    background: linear-gradient(65deg,#5BB12F,transparent,#5BB12F);
    background-size: 100%;
    width: calc(100% + 8px);
    height: calc(100% + 8px);
    z-index: 1;
    background-size: 200%;
    -webkit-animation: rotateGradient 5s linear infinite;
    animation: rotateGradient 5s linear infinite;
}

@-webkit-keyframes rotateGradient{
    0%{
        background-position:0 0
    }
    50%{
        background-position:200% 0
    }
    to{
        background-position:0 0
    }
}
@keyframes rotateGradient{
    0%{
        background-position:0 0
    }
    50%{
        background-position:200% 0
    }
    to{
        background-position:0 0
    }
}

/* Goto top  */
.go-to-top {
    cursor: pointer;
    position: fixed;
    bottom: 100px;
    right: 30px;
    z-index: 999;    
    width: 60px;
    height: 60px;    
    border-radius: 50%;
    padding: 20px;
}
.go-to-top:hover {
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
}