.primary-color {
    color: #5BB12F;
}
.primary-bg-color {
    background-color: #5BB12F;
}
.secondary-color {
    color: #222;
}
.secondary-bg-color {
    background-color: #222;
}

/* Banner css */
.banner__heading {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}